<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro equipamiento</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'core/style.css' %}" />

    <script type="text/javascript">
        $(document).ready(function () {
            $("#error").hide(); //ocultando el div de los errores

            //indicar que las validaciones del formulario se ejecutaran solo cuando se
            //presione el submit
            $("#formulario_reg").submit(function () {
                var mensaje = "Por favor revisar los siguientes detalles en el formulario:";
                var cod_equipo = $('cod_equip').val();
                var nombre = $('#nombre').val();

                if ($("#cod_equipo").val().trim().length == 0) {
                    mensaje = mensaje + "<br>El campo Codigo del Equipamiento  no debe estar vacío";
                }

                if (isNaN($("#cod_equipo").val())) {
                    mensaje = mensaje + "<br>El codigo solo pueden ser números";
                }

                if (cod_equipo.length <= 4) {

                } else {
                    mensaje = mensaje + "<br>El Codigo del Equipamiento debe tener un maximo de 4 digitos";
                }

                if ($("#nombre").val().trim().length == 0) {
                    mensaje = mensaje + "<br>El campo Nombre del equipamiento no debe estar vacío";
                }

                if (nombre.length <= 40) {

                } else {
                    mensaje = mensaje + "<br>El Nombre del equipamiento debe tener un maximo de 40 caracteres";
                }

                if ($("#armaduraxd").val().trim().length == 0) {
                    mensaje = mensaje + "<br>Debe elegir un equipamiento valido";
                }

                if ($("#casco").val().trim().length == 0) {
                    mensaje = mensaje + "<br>Debe elegir un equipamiento valido";
                }

                if ($("#botas").val().trim().length == 0) {
                    mensaje = mensaje + "<br>Debe elegir un equipamiento valido";
                }

                if ($("#arma").val().trim().length == 0) {
                    mensaje = mensaje + "<br>Debe elegir un equipamiento valido";
                }
                

                if (mensaje != "Por favor revisar los siguientes detalles en el formulario:") {
                    $("#error").html(mensaje); //mostrando el texto de la variable en el div del html
                    $("#error").show();//hace visible el div
                    event.preventDefault();//evita que los datos del formulario se envien

                }
            });
        });
    </script>

</head>

<body>
    <!--Menu Bar-->
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #007e6f">
        <!-- Brand -->
        <a class="navbar-brand" href="#" style="color:#000">
            <h4>Fundación Apoyo APP</h1>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <!-- Links -->
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>

                 <!-- Dropdown -->
                 <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Aporte</a>
                    <div class="dropdown-menu">
                        <h6 class="color container">Opción</h6>
                        <a class="dropdown-item" href="{% url 'aporte' %}">Hacer aporte</a>
                        <a class="dropdown-item" href="{% url 'visualizaraporte' %}">Visualizar aportes</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Nosotros</a>
                </li>
                {% if user.is_superuser %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'menu' %}">Residente</a>
                </li>
                <li class="nav-item"></li>
                <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
                <h6 style="color:crimson">{{ user.username }}</h6>


                {% elif user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'visresidenf' %}">Fichas medicas</a>
                </li>
                <li class="nav-item"></li>
                <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
                <h6 style="color:rgb(20, 163, 220)">{{ user.username }}</h6>


                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <br><br>
    <!-- Formulario -->
    <div class="container-fluid centrado">
        <h1
            style="font-size: 45px; background-color:#20222585; text-shadow: 3px 4px 3px #000; color:  rgb(220, 226, 231);">
            Registrar residente</h1>
    </div>
    <br><br>
    
    <div class="row">
        <div class="container centrado" style="background-color: rgba(0, 0, 0, 0.404); color: rgb(220, 226, 231);; border: 2px solid #000">
            {% if messages %}
            <div>
                {% for i in messages %}
                    <p style="color: red;">{{ i }}</p>
                {% endfor %}
            </div>

            {% endif %}

            <form action="{% url 'regis_resident' %}" id="regist_resi" method="POST" name="regist_resi" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="rut_res">Rut del residente:</label>
                    <input class="form-control" type="text" id="rut_res" name="rut_res" required>
                </div>

                <div class="form-group">
                    <label for="nomb_res">Nombre del residente: </label>
                    <input class="form-control" type="text" id="nomb_res" name="nomb_res" required>
                </div>

                <div class="form-group">
                    <label for="edad_res">Edad del residente:</label>
                    <input class="form-control" type="number" id="edad_res" name="edad_res" required>
                </div>

                <div class="form-group">
                    <label for="tutor">tutor del residente: </label>
                    <input class="form-control" type="text" id="tutor" name="tutor" required>
                </div>

                <div class="form-group">
                    <label for="medic_res">Medicamentos del residente: </label>
                    <input class="form-control" type="text" id="medic_res" name="medic_res" required>
                </div>

                <div class="form-group">
                    <label for="salud_res">Salud del residente: </label>
                    <input class="form-control" type="text" id="salud_res" name="salud_res" required>
                </div>

                <div class="form-group">
                    <label for="cuida_res">Cuidados especiales del residente: </label>
                    <input class="form-control" type="text" id="cuida_res" name="cuida_res" required>
                </div>

                <div class="form-group">
                    <label for="ficha_res">Ficha Medica</label>
                    <input type="file" name="ficha_res" id="ficha_res">
                     </div>

                <button type="submit" class="btn btn-primary">Registrar Equipamiento</button>

            </form>
        </div>
    </div>

</body>

</html>
