<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'core/style.css' %}" />
</head>

<body>
    <!--Menu Bar-->
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #007e6f">
        <!-- Brand -->
        <a class="navbar-brand" href="#" style="color:#000">
            <h4>Fundación Apoyo APP</h1>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <!-- Links -->
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>

                 <!-- Dropdown -->
                 <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Aporte</a>
                    <div class="dropdown-menu">
                        <h6 class="color container">Opción</h6>
                        <a class="dropdown-item" href="{% url 'aporte' %}">Hacer aporte</a>
                        <a class="dropdown-item" href="{% url 'visualizaraporte' %}">Visualizar aportes</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Nosotros</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'log_in' %}">Ingresar</a>
                </li>

            </ul>
        </div>
    </nav>
    <br><br>
    <div class="row">
        <div class="container centrado">
            <h1 class="color">Fundacion Apoyo APP</h1>
                <img src="{% static 'core/img/logo.png' %}" alt="Logo"
                    class="responsive_imagen_logo">
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="container centrado">
            <h3>Hacer un Aporte</h3>
            <a href="{% url 'aporte' %}">
                <img src="{% static 'core/img/aportmonet.PNG' %}" alt="Aporte monetario"
                    class="responsive_imagenes"><br>
                <br><button class="btn btn-primary">Hacer aporte</button>
            </a>
        </div>
    </div>
    <br>
</body>

</html>