body{
    background-color: #039b91;
}

.centrado{
    text-align: center;
}

.color{
    color: #000000;
}

/* SEPARADORES */
.separar_bottom{
    margin-bottom: 3%;
}

.separar_top{
    margin-top: 3%;
}

.separar_left{
    margin-left: 3%;
}

.separar_right{
    margin-right: 3%;
}
/* FIN SEPARADORES */

.responsive_imagenes{
    width: 100%;
    max-width: 550px;
    border: 2px solid #000000;
}

.responsive_imagen_logo{
    width: 100%;
    max-width: 20px;
    border: 2px solid #000000;
}